html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Raleway", serif;
	overflow-x: hidden;
}

.header{
	position: fixed;
	width: 100%;
	height: 10%;
	background-color: #1B64DE;
	left: 0;
	top: 0;
	z-index: 3;
}

.title{
	padding: 0;
	margin: 0;
	margin-left: 20px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
}

.container-all{
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	padding-right: 50px;
	margin-bottom: 20px;
}

.main-list{
	width: 60%;
	list-style: none;
}

.book{
	padding-bottom: 5px;
}

.book-title{
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
	color: blue;
	color: blue;
}

.book-title span{
	cursor: pointer;
}

.book-subtitle{
	margin-top: 0;
	font-size: .95em;
}

.book-desc{
	font-size: .9em;
}

.book-img{
	width: 64px;
	height: auto;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.book-isbn{
	font-size: .95em;
}

.num-results{
	margin-bottom: 20px;
	border-bottom: 1px solid silver;
	padding-bottom: 10px;
}

.container-single{
	position: absolute;
	width: 96%;
	margin: auto;
	top: 15%;
	padding-bottom: 15px;
}

.main{
	width: 30%;
	float: right;
}

.main-content{
	width: 60%;
	margin-right: 5%;
}

.book-single{
	padding-bottom: 5px;
}

.book-title-single{
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
	color: blue;
	font-size: 2em;
	margin-top: 0;
}

.book-subtitle-single{
	margin-top: 0;
	font-size: 1.25em;
	color: #1B64DE;
}

.book-desc-single{
	line-height: 1.5;
}

.book-isbn-single{
	font-size: .95em;
}

.category{
	font-size: 1.25em;
	color: #0553C9;
	font-weight: bold;
}

.details{
	color: #1B64DE;
}

@media (max-width: 800px) {

	.book-title-single{
		margin-top: 20px;
	}

	.container-single{
		margin-top: 10px;
	}

	.main-content{
		width: 90%;
	}

	.main{
		float: left;
	}
}

@media (max-width: 550px) {
	.main-list{
		width: 80%;
	}
}
